<!DOCTYPE html>
<html>

<head>
  <%- include("function/header.ejs") %>
  <style>
    .card-header h6 {
      text-align: center;
    }

    .themgiohannhietdo {
      justify-content: center;
      text-align: center;
      padding-bottom: 5%;
    }

    .themgiohannhietdo form {
      width: 200px;
      margin: auto;
      border: 2px solid #45bfb4;
      border-radius: 10%;
      padding: 2%;
    }

    #hinhtronbom {
      width: 350px;
      height: 350px;
      border-radius: 50%;
      position: relative;
      background-color: white;
      margin: auto;
      border: 10px solid red;
      transform: translate(0%, -16%);
    }

    .contentpump {
      position: absolute;
      transform: translate(13%, 26%) !important;
    }

    /* On-off motor */
    *,
    :after,
    :before {
      box-sizing: border-box;
    }

    #hinhtronbom {
      margin: 60px auto;
      text-align: center;
      background-color: white;
      transition: background-color 0.2s cubic-bezier(0, -1.85, 0.27, 1.75);
    }

    .toggle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    .toggle:before {
      content: 'OFF';
      position: absolute;
      left: -56px;
      top: 30px;
      font-size: 18px;
      color: #fff;
    }

    .toggle:after {
      content: 'ON';
      position: absolute;
      right: -46px;
      top: 30px;
      font-size: 18px;
      color: rgba(253, 15, 21, 0.31);
    }

    .toggle label {
      position: relative;
      display: inline-block;
      width: 80px;
      height: 80px;
      background-color: #fd1015;
      border-radius: 50px;
      cursor: pointer;
      box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1), 0px 9px 15px 0px #ef4247;
      -webkit-tap-highlight-color: transparent;
    }

    .toggle label:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: width 0.2s cubic-bezier(0, -1.85, 0.27, 1.75);
      height: 42px;
      width: 42px;
      background-color: #fd0f14;
      border-radius: 46px;
      box-shadow: inset 0px 0px 0px 8px #fff;
    }

    .toggle input {
      display: none;
    }

    .toggle input:checked+label {
      background-color: #57de72;
      box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1), 0px 9px 15px 0px rgba(3, 132, 28, 0.5411764705882353);
    }

    .toggle input:checked+label:before {
      width: 10px;
      background-color: #fff;
    }

    .on {
      background-color: #6fc57c;
    }

    .on .toggle:before {
      color: rgba(62, 160, 81, 0.89);
    }

    .on .toggle:after {
      color: #fff;
    }
  </style>
</head>

<body>

  <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper" style="width: 100%;">

      <!-- Sidebar -->
      <%- include("function/menubar.ejs") %>

      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <%- include("function/navbar.ejs") %>

          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Trang quản lý khu vườn</h1>


            <!-- Content Row -->
            <div class="row">

              <div class="col-xl-7 col-12" style="width: 600px;">

                <!-- mychart   -->
                <!-- Area Chart -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Biểu đồ</h6>
                  </div>
                  <div class="card-body">
                    <div class="chart-area">
                      <canvas id="myChart"></canvas>
                    </div>
                    <hr>
                  </div>
                </div>
              </div>
              <!-- Donut Chart -->
              <div class="col-xl-5 col-12">
                <div class="card shadow mb-4" style="height: 447px;">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Bơm</h6>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <div class="themgiohannhietdo" style="display:none">
                      <p id="trangthaigioihannhietdo"></p>
                      <form id="formtrangthaigioihannhietdo" action="" method="">
                        <h1> <%= status %> </h1>
                        <label for="">Giới hạn nhiệt độ trên</label>
                        <input type="text" id="gioihantren" name="up" class="form-control" placeholder="Enter tempt"
                          value="<%= obj.gioihantren %>">
                        <label for="">Giới hạn nhiệt độ dưới</label>
                        <input type="text" name="down" id="gioihanduoi" class="form-control" placeholder="Enter tempt"
                          value="<%= obj.gioihanduoi %>">
                        <div class="slidecontainer">
                          <input type="range" min="1" max="100" id="giatricuongdotempt" name="cuongdo"
                            onchange="chinhCuongDoTempt()" id="nutchinhcuongdotempt" value=""> <label
                            id="newcuongdotempt" style="color:blue;font-weight:800; font-size: larger" for=""></label>
                        </div>
                        <div class="" style="padding: 5%;">
                          <div type="" class="btn btn-success" onclick="submitgioihan()">Submit</div>
                          <div type="" class="btn btn-danger" id="nuthuychinhformgioihan" onclick="hideFormEditLimit()">Hủy</div>
                        </div>


                      </form>


                    </div>
                    <div class="bom">

                      <div class="col-xl-12 col-lg-12" id="hinhtronbom">
                        <div class="contentpump">
                          <h4 style="color: black;">Trạng thái </h4>
                          <div id="motor">

                          </div>

                          <form class="" method="post">
                            <div class="slidecontainer">
                              <p id="cuongdo">Cường độ: <%= data.value %> </p>
                              <input type="range" min="1" max="100" id="giatricuongdo" name="cuongdo"
                                onchange="chinhCuongDo()" id="nutchinhcuongdo" value="<%= data.value %>"> <label
                                id="newcuongdo" style="color:blue;font-weight:800; font-size: larger" for="">30</label>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <div class="btn btn-success " onclick="batBom()" type="">Mở</div>
                                <div class="btn btn-danger " onclick="tatBom()" type="">Tắt</div>
                              </div>

                              <div class=" col-12" style="padding-top: 2%;">
                                <div class="btn btn-primary " onclick="showFormEditLimit()" type="">Chỉnh giới hạn
                                </div>
                              </div>
                            </div>


                          </form>
                        </div>


                      </div>


                    </div>




                    <script>
                      var trangthai =  <%= data.trangthai %>;
                      var cuongdo =  <%= data.value %>;
                      //Chỉnh cường độ khi mở trang
                      $('#giatricuongdo').val(cuongdo);
                      $('#newcuongdo').html(`${cuongdo}`);


                      function myTimer() {
                        $.get("http://localhost:3000/apimotor", function (data, status) {

                          trangthai = data[0].trangthai;
                          cuongdo = data[0].value;

                          myFunction(trangthai, cuongdo);



                        });
                      }
                      function myFunction(trangthai, cuongdo) {
                        if (trangthai == 1) {
                          document.getElementById("motor").innerHTML = "Bơm đang chạy";
                          $('#motor').css("color", "green");
                          $('#motor').css("font-weight", "700");
                          $('#hinhtronbom').css("border", "10px solid #5af490");
                          $('#cuongdo').html(`Cường độ: ${cuongdo}`);

                        } else {
                          document.getElementById("motor").innerHTML = "Bơm đang Tắt";
                          $('#motor').css("color", "red");
                          $('#motor').css("font-weight", "700");
                          $('#hinhtronbom').css("border", "10px solid red");
                          $('#cuongdo').html(`Cường độ: ${cuongdo}`);

                        }

                      }
                      //Hiệu chỉnh trạng thái
                      myFunction(trangthai, cuongdo);
                      var myVar = setInterval(myTimer, 1000);

                      //Hiệu chỉnh cường độ
                      function chinhCuongDo() {
                        var cuongdo = $('#giatricuongdo').val();


                        $('#newcuongdo').html(`${cuongdo}`);
                      }
                      //Hiệu chỉnh cường độ
                      function chinhCuongDoTempt() {
                        var cuongdo = $('#giatricuongdotempt').val();


                        $('#newcuongdotempt').html(`${cuongdo}`);
                      }
                      //Hiển thị form chỉnh giới hạn nhiệt độ
                      function hideFormEditLimit() {
                        $('#nuthuychinhformgioihan').html("Hủy");

                        $('.bom').toggle(500)
                        $('.themgiohannhietdo').toggle(500);
                      }
                      function showFormEditLimit() {


                        $.ajax({
                          type: 'post',
                          url: '/checkgiohanstatus',
                          data: {},
                          success: function (result) {
                            if (result[1] == 'khonghieuluc') {
                              $('#gioihanduoi').val(result[0].gioihanduoi);
                              $('#gioihantren').val(result[0].gioihantren);
                              $('#trangthaigioihannhietdo').html("Giới hạn hiện tại không có hiệu lực")
                              $('#trangthaigioihannhietdo').css("color", "red")
                              $('#trangthaigioihannhietdo').css("font-weight", "600")

                              $('#formtrangthaigioihannhietdo').css("border", "2px solid red")
                             $('#giatricuongdotempt').val(result[0].value);
                              $('#newcuongdotempt').html(result[0].value);

                            } else if (result[1] == 'cohieuluc') {
                              $('#gioihanduoi').val(result[0].gioihanduoi);
                              $('#gioihantren').val(result[0].gioihantren);

                              $('#formtrangthaigioihannhietdo').css("border", "2px solid #45bfb4")
                             $('#giatricuongdotempt').val(result[0].value);
                              $('#newcuongdotempt').html(`${result[0].value}`);

                            } else {

                            }


                            $('.bom').toggle(500)
                            $('.themgiohannhietdo').toggle(500);


                          }
                        });



                        return false;
                      }

                      //Gửi giới hạn
                      function submitgioihan() {
                        var gioihantren = $('#gioihantren').val()
                        var gioihanduoi = $('#gioihanduoi').val()
                        var cuongdo = $('#giatricuongdotempt').val()
                        $.ajax({
                          type: 'post',
                          url: '/getlimit',
                          data: { up: gioihantren, down: gioihanduoi, cuongdo: cuongdo },
                          success: function (result) {
                            if (result == 'success') {
                              $('#trangthaigioihannhietdo').html("")
                              $('#formtrangthaigioihannhietdo').css("border", "2px solid #45bfb4")
                              $("#status").html("Thiết lập thành công");
                              $('#nuthuychinhformgioihan').html("Back");
                              myVar = setTimeout(function name(params) {
                                $("#status").html("");

                              }, 3000);
                            } else if (result == "wrongnumber") {
                              $("#status").html("Khoảng cách nhiệt độ phải lớn hơn 1");

                              myVar = setTimeout(function name(params) {

                                $("#status").html("");

                              }, 3000);

                            } else {
                              $("#status").html("Thiết lập thất bại");

                              myVar = setTimeout(function name(params) {

                                $("#status").html("");

                              }, 3000);

                            }
                            return false;

                          }
                        });
                      }

                      //Bật bơm
                      function batBom() {
                        var cuongdo = $('#giatricuongdo').val();
                        $.ajax({
                          type: 'post',
                          url: 'batbom',
                          data: { cuongdo: cuongdo },
                          success: function (result) {
                            if (result == 'success') {
                              $('#giatricuongdo').val(cuongdo);
                              $('#newcuongdo').html(cuongdo);
                              $("#status").html("Bật bơm thành công");
                              myVar = setTimeout(function name(params) {

                                $("#status").html("");

                              }, 3000);
                            } else if (result == "cuongdosai") {
                              $("#status").html("Cường độ phải lớn hơn 0");

                              myVar = setTimeout(function name(params) {

                                $("#status").html("");

                              }, 3000);

                            } else {
                              $("#status").html("Bật bơm thất bại");

                              myVar = setTimeout(function name(params) {

                                $("#status").html("");

                              }, 3000);

                            }
                            return false;

                          }
                        });
                      }
                      //Tắt bơm
                      function tatBom() {
                        var cuongdo = $('#giatricuongdo').val()
                        console.log(cuongdo);
                        $.ajax({
                          type: 'post',
                          url: '/tatbom',
                          data: { cuongdo: cuongdo },
                          success: function (result) {
                            if (result == 'success') {
                              $('#giatricuongdo').val(0);


                              $('#newcuongdo').html(0);
                              $("#status").html("Tắt bơm thành công");

                              myVar = setTimeout(function name(params) {

                                $("#status").html("");

                              }, 3000);
                            } else {
                              $("#status").html("Tắt bơm thất bại");

                              myVar = setTimeout(function name(params) {

                                $("#status").html("");

                              }, 3000);

                            }
                            return false;

                          }
                        });
                      }
                      //Gửi giới hạn nhiệt độ 
                      function tatBom() {
                        var cuongdo = $('#giatricuongdo').val()
                        console.log(cuongdo);
                        $.ajax({
                          type: 'post',
                          url: '/tatbom',
                          data: { cuongdo: cuongdo },
                          success: function (result) {
                            if (result == 'success') {
                              $('#giatricuongdo').val(0);


                              $('#newcuongdo').html(0);
                              $("#status").html("Tắt bơm thành công");

                              myVar = setTimeout(function name(params) {

                                $("#status").html("");

                              }, 3000);
                            } else {
                              $("#status").html("Tắt bơm thất bại");

                              myVar = setTimeout(function name(params) {

                                $("#status").html("");

                              }, 3000);

                            }
                            return false;

                          }
                        });
                      }
                    </script>
                  </div>
                </div>
              </div>

            </div>
            <!-- /.container-fluid -->

          </div>
          <!-- End of Main Content -->

          <!-- Footer -->
          <footer class="sticky-footer bg-white">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2019</span>
              </div>
            </div>
          </footer>
          <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

      </div>
      <!-- End of Page Wrapper -->

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>

      <!-- Logout Modal-->
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
          </div>
        </div>
      </div>
      <script>
        var nhietdo = [];
        var label = [];
        var doam = [];
        function myTimer() {
          nhietdo = [];
          label = [];
          doam = [];
          $.get("http://localhost:3000/apinhietdo", function (data, status) {

            data.forEach(element => {
              nhietdo.push(element.nhietdo);
              doam.push(element.doam);

              label.push(element.thoigian.slice(15, 24));

              //     myChart.data.labels.push(element.device);
              //     myChart.data.datasets.forEach((dataset) => {
              // dataset.data.push(element.nhietdo);
            });
            //   myChart.data.labels = label;

            myChart.data.datasets[0].data = nhietdo;
            myChart.data.datasets[1].data = doam;
            myChart.data.labels = label;

            myChart.update();

          });
        }

        var myVar = setInterval(myTimer, 2000);

        var ctx = document.getElementById('myChart').getContext('2d');

        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: label,
            datasets: [
              {
                label: "Nhiệt độ",
                fill: true,
                backgroundColor: 'rgb(190, 99, 255, 0.25)',
                borderColor: 'rgb(190, 99, 255)',
                data: nhietdo,
              },
              {
                label: "Độ ẩm",
                fill: false,
                backgroundColor: 'rgba(255, 99, 132, 0.25)',
                borderColor: 'rgb(255, 99, 132)',
                data: doam,
              }
            ]
          }
        }
        );


      </script>
      <!-- Bootstrap core JavaScript-->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      <!-- Core plugin JavaScript-->
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

      <!-- Custom scripts for all pages-->
      <script src="js/sb-admin-2.min.js"></script>
  </body>

</html>