<!DOCTYPE html>
<html>

<head>
  <%- include("function/header.ejs") %>
  <style>

  </style>
  <title>Lịch sử dùng bơm</title>

</head>

<body>

  <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper" style="width: 100%;">

      <!-- Sidebar -->
      <%- include("function/menubar.ejs") %>

      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <%- include("function/navbar.ejs") %>

          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800" style="text-align: center;">Lịch sử dùng bơm</h1>


            <!-- Content Row -->
            <div class="btn btn-primary">
              <a href="/dangki" style="color: white; text-decoration: none;"> Thêm người dùng</a>

            </div>
            <table class="table table-sm ">
              <thead>
                <tr style="background: aquamarine;">
                  <th scope="col">ID</th>
                  <th scope="col">Trạng thái</th>
                  <th scope="col">Cường độ</th>
                  <th scope="col">Chế độ</th>
                  <th scope="col">Username</th>
                  <th scope="col">ID cảm biến</th>
                 
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i< data.length; i++) { %>
                <tr>
                  <th><%= i+1 %></th>
                  <th><%= data[i].idmotor %> </th>
                  <th> <%= data[i].trangthai %></th>
                  <th> <%= data[i].value %></th>
                  <th> <%= data[i].thoigian %></th>
                  <th><%= data[i].auto %> </th>
                  <th> <%= data[i].username %></th>
                  <th> <%= data[i].idcambien %></th>
                 

                  <%};%>
              </tbody>
            </table>

            <!-- /.container-fluid -->

          </div>
          <!-- End of Main Content -->


          <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

      </div>
      <!-- End of Page Wrapper -->

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>

      <!-- Logout Modal-->
      <%- include("function/logout.ejs") %>


      <!-- Bootstrap core JavaScript-->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      <!-- Core plugin JavaScript-->
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

      <!-- Custom scripts for all pages-->
      <script src="js/sb-admin-2.min.js"></script>
  </body>

</html>